.head{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    border: 5px solid #000000;
    animation: alternate-reverse glow 3s infinite;
}
.container{
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: alternate-reverse glow 3s infinite;
}
.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.rest{
    margin-top: 20px;
}
.unitSelect,.convertto{
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #000000;
}
.convertBtn{
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.TempInput{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #000000;
    width: 100px;
}
@keyframes glow{
    0% {
        box-shadow: 0 0 5px #434445;
    }
    25%{
        box-shadow: 0 0 10px #506279;
    }
    50% {
        box-shadow: 0 0 20px #385c83;
    }
    75% {
        box-shadow: 0 0 10px #0f437b;
    }
    100% {
        box-shadow: 0 0 5px #024083;
    }
}